/* GOBAN STYLE*/
.shudan-goban-image {
  background-image: url('board.jpeg');
  background-repeat: none;
  background-size: cover;
}


.shudan-goban {
  --shudan-board-border-width: 0px;
  --shudan-board-background-color: #E0D1B7;

  --shudan-black-foreground-color: #eee;
  --shudan-white-foreground-color: #111;
  }

.shudan-goban {
  --shudan-board-border-width: 0px;
}

.shudan-goban:not(.shudan-coordinates) {padding: 0;}

/* give the goban a bigger box shadow */
#goban {box-shadow: 0 0 1em rgba(0,0,0, 1)}

/* GRIDLINES & HOSHI */
/* thicker lines with emboss */
.shudan-horizontal {
  height: 0.03em;
}
.shudan-vertical   {
  width: 0.03em;
}
.shudan-grid{
  filter: drop-shadow(1px 1px 1px rgba(255,255,255,0.4));
}
.shudan-gridline {
  fill: rgb(76, 47, 0, 0.8);
}

/* smaller hoshi */
.shudan-hoshi { r: .065em; }

/* COORDINATES */
/* smaller, */
.shudan-coordx div span {font-size: 0.4em; }
.shudan-coordy div span {font-size: 0.4em; }

/* BACKGROUND IMAGE*/
/* just black */
#main main {
  background-image: none;
  background-color: #222;
}

/* no shade */
.shudan-vertex:not(.shudan-sign_0) .shudan-shadow {
  background: none;
  box-shadow: none;
}

/* Define the stones */
.shudan-stone-image.shudan-sign_-1 {
  background-image: url('white_stone.png');
}

.shudan-stone-image.shudan-sign_1 {
  background-image: url('black_stone.png');
}
